@use "abstracts/mixins";
@use "abstracts/functions";
@use "abstracts/variables";
.footer {
  background-color: variables.$faded-elements-color;
  padding: functions.rem(30) 0;
  p,
  .footer-link {
    font-size: functions.rem(variables.$font-size-xxs);
    color: #757575;
    line-height: 12px;
    text-decoration: none;
  }
  .footer-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    li {
      &:not(:last-child) {
        padding-right: functions.rem(10);
        border-right: 1px solid #757575;
      }
    }
  }
}
@include mixins.responsive("lg-devices") {
  .footer {
    text-align: center;
    .footer-links {
      justify-content: center;
    }
  }
}
