@use "abstracts/mixins";
@use "abstracts/functions";
@use "abstracts/variables";

.navbar-wrapper {
  padding: functions.rem(20) 0;
  align-items: flex-start;
  .navbar-toggler-icon-c {
    background-color: transparent;
    border: 0;
    appearance: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    display: none;
    .navbar-toggle-open {
      display: flex;
      flex-direction: column;
      width: 20px;
      span {
        display: block;
        height: 2px;
        width: 100%;
        background: variables.$body-primary-color;
        margin-bottom: 3px;
        transition: transform 0.3s ease;
      }
    }
    &:not(.collapsed) {
      .navbar-toggle-open {
        span:nth-child(1) {
          transform: rotate(45deg);
          margin-bottom: 0;
        }
        span:nth-child(2) {
          opacity: 0;
        }
        span:nth-child(3) {
          transform: rotate(-45deg) translate(4px, -5px);
        }
      }
    }
  }

  .navbar-list-items {
    justify-content: end;
    .navbar-ul {
      column-gap: 30px;
      align-items: center;
      .navbar-link {
        font-size: functions.rem(variables.$font-size-xxs);
        line-height: 41px;
        font-weight: 400;
        color: variables.$primary-text-opacity-70;
        text-decoration: none;
        &:focus {
          font-weight: 600;
          text-decoration: underline variables.$body-primary-color;
          color: variables.$body-primary-color;
        }
      }
      .call-now-link {
        padding-left: functions.rem(30);
        border-left: 1px solid variables.$secondary-text-opacity-80;
        text-decoration: none;
        font-size: functions.rem(variables.$font-size-xxs);
        font-weight: 700;
        line-height: 41px;
        color: variables.$body-primary-color;
        span {
          color: variables.$interactive-elements-color;
        }
      }
    }
  }
}
@include mixins.responsive("lg-devices") {
  .navbar-wrapper {
    .navbar-list-items {
      .navbar-ul {
        flex-wrap: wrap;
        justify-content: end;
        .navbar-link {
          line-height: 34px;
        }
        .call-now-link {
          border-left: none;
          padding-left: 0;
        }
      }
    }
  }
}
@include mixins.responsive("md-devices") {
  .navbar-wrapper {
    .navbar-list-items {
      .navbar-ul {
        text-align: end;
        align-items: flex-start;
      }
    }
  }
}
@include mixins.responsive("sm-devices") {
  .navbar-wrapper {
    align-items: center;
    .navbar-toggler-icon-c {
      display: flex;
    }
    .navbar-list-items {
      background: #194d44;
      padding: functions.rem(20);
      margin-top: functions.rem(10);
    }
  }
}
