@use "abstracts/mixins";
img {
  &.overlay-1 {
    width: 100%;
  }
  &.overlay-2 {
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: 10;
  }
}

@include mixins.responsive("md-devices") {
  img {
    &.overlay-1,
    &.overlay-2 {
      width: auto;
    }
  }
}
