@use "abstracts/mixins";
@use "abstracts/functions";
@use "abstracts/variables";

.user-data-form-heading {
  font-family: "Montserrat-Bold";
  font-weight: 900;
  font-size: functions.rem(28);
  color: variables.$interactive-elements-color;
  margin: 20px 0;
}
.user-table {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  .user-data-title {
    pointer-events: none;
    font-family: "Montserrat-Bold";
    font-weight: 900;
    padding: functions.rem(15);
    font-size: functions.rem(18);
    color: variables.$body-primary-color;
    background-color: #2d7466;
    border: 1px solid transparent;
  }
  .user-data {
    padding: functions.rem(10) functions.rem(15);
    pointer-events: none;
    font-size: functions.rem(16);
    color: variables.$main-text-color;
    border: 1px solid variables.$interactive-elements-color;
    .action-btns {
      display: flex;
      align-items: center;
      gap: 20px;
      pointer-events: auto;
      .btn-edit {
        color: #7c7927;
        cursor: pointer;
      }
      .btn-delete {
        color: #ff0000;
        cursor: pointer;
      }
    }
  }
}
.edit-form {
  display: none;
  padding: 20px;
  border-radius: 15px;
  background-color: #2d7466;
  width: 600px;
  margin-right: auto;
  h3 {
    font-family: "Montserrat-Bold";
    font-weight: 900;
    font-size: functions.rem(22);
    color: variables.$body-primary-color;
    margin-bottom: functions.rem(20);
  }
  .input-field {
    position: relative;
    input {
      border-radius: 2px;
      border: 1px solid variables.$primary-text-opacity-70;
      padding: 12px;
      background: transparent;
      font-size: 16px;
      color: variables.$body-primary-color;
      width: 100%;
      &:focus-visible {
        outline: none;
      }
      &:active,
      &:focus {
        border: 1px solid variables.$body-primary-color;
        outline: none;
        color: variables.$body-primary-color;
      }
      &:focus + label,
      &:not(:placeholder-shown) + label {
        background-color: #2d7466;
        padding: 0 6px;
        top: 0;
        font-size: 13px;
        line-height: 13px;
        color: variables.$body-primary-color;
      }
    }
    label {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      font-size: functions.rem(variables.$font-size-base);
      color: variables.$primary-text-opacity-70;
      pointer-events: none;
      transition: all 0.2s ease;
    }
  }
  select {
    border-radius: 2px;
    border: 1px solid variables.$primary-text-opacity-70;
    padding: 12px;
    color: variables.$primary-text-opacity-70;
    appearance: none;
    background: url(/dist/img/dropdown-arrow.png) no-repeat;
    background-position: right 10px center;
    width: 100%;
    cursor: pointer;
    &:focus,
    &:active {
      color: variables.$body-primary-color;
      outline: none;
    }
    option {
      color: variables.$main-text-color;
    }
  }
  .btn-update {
    box-shadow: 0px 4px 6px 0px #00000014;
    background-color: variables.$interactive-elements-color;
    border-radius: 4px;
    border: none;
    padding: 16px;
    width: 220px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: functions.rem(18);
    color: variables.$body-primary-color;
    margin: 20px auto 0;
    transition: transform 0.2s ease;
    &:hover {
      box-shadow: 0px 8px 6px 0px #00000014;
      transform: translateY(-3%);
    }
    &:active {
      background-color: #35bb9c;
      box-shadow: 0px 4px 6px 0px #00000014;
      transform: translateY(0);
      outline: none;
    }
  }
  .btn-cancel {
    font-family: "Montserrat-Bold";
    font-weight: 900;
    margin: 20px 0 0;
    border-radius: 4px;
    border: none;
    padding: 16px 0;
    width: 220px;
    font-size: functions.rem(18);
    color: variables.$body-primary-color;
    cursor: pointer;
    margin: auto;
    text-align: center;
    &:hover {
      text-decoration: underline;
    }
  }
}
