@use "abstracts/functions";
@use "abstracts/mixins";
@use "abstracts/variables";
@use "base/typography";

.navigation-home {
  background: linear-gradient(180deg, #194d41 0%, rgba(25, 77, 65, 0.7) 100%), url("/dist/img/about-bg-img.png") no-repeat center center/cover;
  position: relative;
  .home {
    padding: functions.rem(60) 0;
    .home-left {
      h1 {
        font-family: "Montserrat-bold";
        margin-bottom: functions.rem(20);
        font-weight: 900;
        -webkit-text-stroke: 1px variables.$body-primary-color;
        color: transparent;
        span {
          color: variables.$body-primary-color;
        }
      }
      h5 {
        color: variables.$secondary-text-opacity-80;
        font-weight: 400;
        line-height: 28px;
      }
    }
    .home-right {
      background: linear-gradient(180deg, #2a7d6c 0%, rgba(62, 105, 96, 0.62) 100%);
      box-shadow: 0px 10px 50px 0px #0000001f;
      padding: 60px 20px;
      border-radius: 12px;
      max-width: 472px;
      margin-left: auto;
      h3 {
        line-height: 34.13px;
        text-align: center;
        color: variables.$body-primary-color;
        font-weight: 600;
        margin-bottom: 40px;
      }
      #contact-form {
        .input-field {
          position: relative;
          input {
            border-radius: 2px;
            border: 1px solid variables.$primary-text-opacity-70;
            padding: 12px;
            background: transparent;
            font-size: 16px;
            color: variables.$body-primary-color;
            width: 100%;
            &:focus-visible {
              outline: none;
            }
            &:active,
            &:focus {
              border: 1px solid variables.$body-primary-color;
              outline: none;
              color: variables.$body-primary-color;
            }
          }
          label {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            font-size: functions.rem(variables.$font-size-base);
            color: variables.$primary-text-opacity-70;
            pointer-events: none;
            transition: all 0.2s ease;
          }
          .empty-field-warning {
            color: variables.$body-primary-color;
            font-size: 13px;
            line-height: 20px;
            padding: 10px;
            position: absolute;
            left: 0;
            top: 120%;
            width: 100%;
            z-index: 10;
            background: #ff7777;
            border-radius: 8px;
            box-shadow: 0px 4px 8px 0px #00000014;
            display: none;
            &::before {
              content: "";
              background: url(/dist/img/red-pointer.png) no-repeat;
              position: absolute;
              top: -8px;
              left: 47%;
              width: 22px;
              height: 9px;
            }
          }
          input:focus + label,
          input:not(:placeholder-shown) + label {
            background-color: #2d7466;
            padding: 0 6px;
            top: 0;
            font-size: 13px;
            line-height: 13px;
            color: variables.$body-primary-color;
          }
        }
        .input-field.error input {
          border: 1px solid #ff7777;
        }
        .input-field.error label {
          color: #ff7777;
        }
        .input-field.error input:focus + label,
        .input-field.error input:not(:placeholder-shown) + label {
          background-color: #2d7466;
          color: #ff7777;
        }
        select {
          border-radius: 2px;
          border: 1px solid variables.$primary-text-opacity-70;
          padding: 12px;
          color: variables.$primary-text-opacity-70;
          appearance: none;
          background: url(/dist/img/dropdown-arrow.png) no-repeat;
          background-position: right 10px center;
          width: 100%;
          cursor: pointer;
          &:focus,
          &:active {
            color: variables.$body-primary-color;
            outline: none;
          }
          option {
            color: variables.$main-text-color;
          }
        }
        .submit-form-btn {
          text-align: center;
          box-shadow: 0px 4px 6px 0px #00000014;
          background-color: variables.$interactive-elements-color;
          border-radius: 4px;
          border: none;
          display: flex;
          align-items: center;
          padding: 16px;
          width: 221px;
          margin: 40px auto 0;
          cursor: pointer;
          gap: 10px;
          justify-content: center;
          gap: 10px;
          transition: transform 0.2s ease;
          &:hover {
            box-shadow: 0px 8px 6px 0px #00000014;
            transform: translateY(-3%);
          }
          &:active {
            background-color: #35bb9c;
            box-shadow: 0px 4px 6px 0px #00000014;
            transform: translateY(0);
            outline: none;
          }
          span {
            line-height: 21.94px;
            font-weight: 600;
            color: variables.$body-primary-color;
            font-size: functions.rem(18);
          }
        }
      }
    }
  }
}

@include mixins.responsive("xl-devices") {
  .navigation-home {
    .home {
      .home-left {
        h1 {
          font-size: functions.rem(52);
        }
      }
    }
  }
}
@include mixins.responsive("lg-devices") {
  .navigation-home {
    background-position: 80%;
    .home {
      text-align: center;
      .home-left {
        h1 {
          font-size: functions.rem(64);
        }
      }
      .home-right {
        margin: auto;
      }
    }
  }
}

@include mixins.responsive("md-devices") {
  .navigation-home {
    .home {
      padding: functions.rem(40) 0 functions.rem(200);
      .home-left {
        h1 {
          font-size: functions.rem(42);
        }
      }
    }
  }
}
@include mixins.responsive("sm-devices") {
  .navigation-home {
    background: linear-gradient(to bottom, rgba(27, 72, 53, 0.8), rgba(27, 72, 53, 1)), url("/dist/img/young-group-of-people.png") no-repeat;
    background-position: top right;
  }
}
