@use "abstracts/functions";
@use "abstracts/mixins";
@use "abstracts/variables";
@use "base/typography";

.navigation-home {
  background: linear-gradient(180deg, #194d41 0%, rgba(25, 77, 65, 0.7) 100%), url("/dist/img/about-bg-img.png") no-repeat center center/cover;
  position: relative;
  .home {
    padding: functions.rem(60) 0;
    .home-left {
      .transparent-text {
        margin-bottom: functions.rem(20);
        line-height: 72px;
      }
      h5 {
        color: variables.$secondary-text-opacity-80;
        font-weight: 400;
        line-height: 28px;
      }
    }
    .home-right {
      background: linear-gradient(180deg, #2a7d6c 0%, rgba(62, 105, 96, 0.62) 100%);
      box-shadow: 0px 10px 50px 0px #0000001f;
      padding: 60px 20px;
      border-radius: 12px;
      max-width: 472px;
      margin-left: auto;
      h3 {
        line-height: 34.13px;
        text-align: center;
        color: variables.$body-primary-color;
        font-weight: 600;
        margin-bottom: 40px;
      }
    }
  }
}

@include mixins.responsive("xl-devices") {
  .navigation-home {
    .home {
      .home-left {
        h1 {
          font-size: functions.rem(52);
        }
      }
    }
  }
}
@include mixins.responsive("lg-devices") {
  .navigation-home {
    background-position: 80%;
    .home {
      text-align: center;
      .home-left {
        h1 {
          font-size: functions.rem(64);
        }
      }
      .home-right {
        margin: auto;
      }
    }
  }
}

@include mixins.responsive("md-devices") {
  .navigation-home {
    .home {
      padding: functions.rem(40) 0 functions.rem(200);
      .home-left {
        h1 {
          font-size: functions.rem(42);
        }
      }
    }
  }
}
@include mixins.responsive("sm-devices") {
  .navigation-home {
    background: linear-gradient(to bottom, rgba(27, 72, 53, 0.8), rgba(27, 72, 53, 1)), url("/dist/img/young-group-of-people.png") no-repeat;
    background-position: top right;
  }
}
