@use "abstracts/functions";
@use "abstracts/variables";
@use "abstracts/mixins";

.video-insights-section {
  position: relative;
  color: variables.$body-primary-color;
  background: url(/dist/img/green-background.png) no-repeat, url(/dist/img/transparent-background.png) no-repeat;
  background-size: 56% 100%, 58% 100%;
  .video-description {
    padding: functions.rem(60) functions.rem(86);
    .transparent-text {
      margin-bottom: functions.rem(20);
      span {
        margin-left: 10px;
      }
    }
    .checkmark-with-description {
      display: flex;
      gap: 15px;
      align-items: baseline;
      .description-text {
        h4 {
          line-height: 32px;
          margin-bottom: functions.rem(15);
        }
        h5 {
          line-height: 28px;
          color: variables.$secondary-text-opacity-80;
        }
      }
    }
  }
  .video-thumbnail {
    position: relative;
    height: 100%;
    .video-thumbnail-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: relative;
      z-index: -1;
    }
    .outer-circle {
      position: absolute;
      inset: 0;
      margin: auto;
      border: 2px solid #ffffff4d;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      transition: all 0.2s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover,
      &:active {
        width: 228px;
        height: 228px;
      }
      .inner-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 154px;
        height: 154px;
        background-color: variables.$highlighted-elements-color;
        border: 2px solid variables.$body-primary-color;
        border-radius: 50%;
      }
    }
    .logo-over-video-thumbnail {
      position: absolute;
      right: 30px;
      bottom: 20px;
    }
  }
}
@include mixins.responsive("lg-devices") {
  .video-insights-section {
    background: url(/dist/img/sm-green-bg.png) no-repeat, url(/dist/img/sm-transparent-bg.png) no-repeat;
    background-size: 100% 52%, 100% 54%;
    .video-description {
      padding: functions.rem(60) functions.rem(40);
      h2 {
        text-align: center;
      }
    }
    .video-thumbnail {
      .outer-circle {
        margin: functions.rem(55) auto 0;
      }
      .logo-over-video-thumbnail {
        right: 0;
        left: 0;
        margin: auto;
      }
    }
  }
}
@include mixins.responsive("md-devices") {
  .video-insights-section {
    .video-description {
      padding: functions.rem(60) functions.rem(40) 0;
    }
    .video-thumbnail {
      .outer-circle {
        margin: functions.rem(12) auto 0;
      }
    }
  }
}
@include mixins.responsive("sm-devices") {
  .video-insights-section {
    background-size: 100% 62%, 100% 64%;
    .video-thumbnail {
      .outer-circle {
        width: 128px;
        height: 128px;
        .inner-circle {
          width: 99px;
          height: 99px;
        }
      }
    }
  }
}
@include mixins.responsive("xs-devices") {
  .video-insights-section {
    background-size: 100% 76%, 100% 78%;
  }
}
