@use "abstracts/functions";
@use "abstracts/variables";
@use "abstracts/mixins";

.video-insights-section {
  position: relative;
  color: variables.$body-primary-color;
  background: url(/dist/img/green-background.png) no-repeat, url(/dist/img/transparent-background.png) no-repeat;
  background-size: 56% 100%, 58% 100%;
  .video-description {
    padding: functions.rem(60) functions.rem(86);
    h2 {
      font-family: "Montserrat-Bold";
      font-weight: 900;
      line-height: 52px;
      color: variables.$body-primary-color;
      margin-bottom: functions.rem(20);
      span {
        margin-right: 5px;
        -webkit-text-stroke: 1px variables.$body-primary-color;
        color: transparent;
      }
    }
    .checkmark-with-description {
      display: flex;
      gap: 15px;
      align-items: baseline;
      .description-text {
        h4 {
          line-height: 32px;
          margin-bottom: functions.rem(15);
        }
        h5 {
          line-height: 28px;
          color: variables.$secondary-text-opacity-80;
        }
      }
    }
  }
  .video-thumbnail-img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    z-index: -1;
  }
  .video-play-btn-border {
    position: absolute;
    top: calc(50% - 97px);
    right: calc(10% + 25px);
    border: 2px solid #ffffff4d;
    padding: 98px;
    border-radius: 50%;
    transition: transform 0.2s ease;
    z-index: 0;
    &:hover {
      transform: scale(1.14);
    }
  }
  .video-play-btn {
    position: absolute;
    right: calc(10% + 43px);
    top: calc(50% - 78px);
    padding: 55px 59px;
    background-color: variables.$highlighted-elements-color;
    border: 2px solid variables.$body-primary-color;
    border-radius: 50%;
    z-index: 1;
    &:hover + .video-play-btn-border {
      transform: scale(1.14);
    }
  }
}
@include mixins.responsive("lg-devices") {
  .video-insights-section {
    background: url(/dist/img/sm-green-bg.png) no-repeat, url(/dist/img/sm-transparent-bg.png) no-repeat;
    background-size: 100% 56%, 100% 58%;
    .video-description {
      padding: functions.rem(40) functions.rem(60);
      h2 {
        text-align: center;
      }
    }
    .video-play-btn-border {
      top: 49%;
      right: 36%;
    }
    .video-play-btn {
      top: 50%;
      right: 38%;
    }
  }
}
@include mixins.responsive("md-devices") {
  .video-insights-section {
    .video-description {
      padding: functions.rem(50);
    }
  }
}
@include mixins.responsive("sm-devices") {
  .video-insights-section {
    background-size: 100% 56%, 100% 58%;
    .video-description {
      padding: functions.rem(80) functions.rem(10) functions.rem(40);
      h2 {
        font-size: 36px;
      }
    }
    .video-play-btn-border {
      padding: 62px;
      top: 45%;
      right: 35%;
    }
    .video-play-btn {
      padding: 28px 31px;
      top: 47%;
      right: 38%;
    }
  }
}
@include mixins.responsive("xs-devices") {
  .video-insights-section {
    background-size: 100% 76%, 100% 78%;
    .video-play-btn-border {
      padding: 62px;
      top: 70%;
      right: 30%;
    }
    .video-play-btn {
      padding: 28px 31px;
      top: 71%;
      right: 33%;
    }
  }
}
